@page
@model FoodProject.Pages.UserModel
@{
}


<h5>Current Fasting (HH:MM):</h5>
            
                
    @foreach (var time in Model.fast)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => time.Hours):@Html.DisplayFor(modelItem => time.Minutes)     
            </td>
        </tr>                                           
    }



 @*   <h4>Foods you ate today:</h4>
    <ul>
    @foreach (var item in Model.Refeicao)
    {

        @foreach (var b in item.AlimentoRefeicao)
        {   
            <li><span>@Html.DisplayFor(modelItem => b.Alimentos.Name)</span></li> 
            
      
        }
     }
    </ul>*@

   @*
    <h5>idRefeicao</h5>
    @foreach (var std in ViewData["idRef"] as int[])
    {
        <li>
        @std
        </li>
    }
    <h5>idAlimento</h5>
    @foreach (var std in ViewData["idAli"] as int[])
    {
        <li>
        @std
        </li>
    }
    <h5>idAcoes</h5>
    @foreach (var std in ViewData["idAction"] as int[])
    {
        <li>
        @std
        </li>
    }
    <h5>Name Actions</h5>
    @foreach ( var s in ViewData["nameAction"] as string[])
    {
        <li>@s</li>
    }*@

    <h5>Actions missing today</h5>
    @foreach ( var s in ViewData["missingAction"] as string[])
    {
        <li>@s</li>
    }

    <h5>Today's Suggested foods</h5>
    @foreach ( var s in ViewData["getSugestionAli"] as string[])
    {
        <li>@s</li>
    }


    @*@if(Model.getSugestionAli.Count == 0){
         @foreach ( var s in ViewData["getSugestionAliWithoutFav"] as int[])
        {
            <li>@s</li>
        }
    }else{
        @foreach ( var s in ViewData["getSugestionAli"] as int[])
        {
            <li>@s</li>
        }
    }*@