@page
@model FoodProject.Pages.MyAcao.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Acao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acao.NomeAcao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acao.NomeAcao)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acao.AlimentoAcaoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acao.AlimentoAcaoId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Acao.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
