@page
@model FoodProject.Pages.MyAcao.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acao[0].NomeAcao)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Acao[0].AlimentoAcaoId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Acao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAcao)
            </td>
        @*    <td>
                @Html.DisplayFor(modelItem => item.AlimentoAcaoId)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
