@page
@model FoodProject.Pages.MyRefeicoes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Meals</h1>
@*
<p>
    <a asp-page="Create">Add meal</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               Start
            </th>
             <th>
                End
            </th>           
            <th>
                Foods
            </th>
            <th>
                Portion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        
    @foreach (var item in Model.Refeicao)
        {
           
           <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.NomeRefeição)
                 </td>
                  <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
                </td> 
                    <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
                </td>  
                <td>                
                    @foreach (var b in item.AlimentoRefeicao)
                    {
                     
                        string alinames = "";
                        alinames = string.Join(" ", b.Alimentos.Name.ToString());
                        <span>@alinames</span><br/>                            
                    }
                </td>          
                 <td>
                    @foreach (var a in item.AlimentoRefeicao)
                    {                    
                        string valGramas = "";
                        valGramas = string.Join(" ", a.Gramas.ToString());
                        <span>@valGramas</span><br/>                            
                    }
                 </td>          
                <td>
                   
                    
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
