@page
@model FoodProject.Pages.MyAlimentos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimento.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimento.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimento.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimento.Categoria.Id)
        </dd>
         <dt class="col-sm-2">
            Ações
        </dt>
         <dd class="col-sm-10">
             @{
                        string actions = "";
                        actions = string.Join(", ", Model.Alimento.AlimentoAcaos.Select(m => m.Acaos.NomeAcao));
                        <span>@actions</span>
                    }
        </dd>
         
     
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Alimento.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
