@page
@model FoodProject.Pages.MyAlimentos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimento.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimento.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimento.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimento.Categoria.NomeCategoria)
        </dd>
       @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimento.AlimentoAcao)
        </dt>*@
        <dd class="col-sm-10">
        @*    <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Alimento.AlimentoAcao)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Acao.NomeAcao)
                        </td>                      
                    </tr>
                }
            </table>*@
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Alimento.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
