@page
@model FoodProject.Pages.MyAlimentos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Foods</h1>

<p>
    <a asp-page="Create">Add Food</a>
</p>
<table class="table">
    <thead>
        <tr>                    
            <th>
                Food
               
            </th>
            <th>
                Category
              
            </th>
             <th>
                 Action
              
            </th>
            
        </tr>
    </thead>
    <tbody>


    @foreach (var item in Model.Alimento)
        {
          
           <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                </td>                                       
                <td>
                    @{
                        string actions = "";
                        actions = string.Join(", ", item.AlimentoAcaos.Select(m => m.Acaos.NomeAcao));
                        <span>@actions</span>
                    }
                </td>
                <td>
                   
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |                    
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

